body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
};

a {
  color: #d5b888;
  font-size: 18px;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
};

a:hover {
  color: #f9f7f4;
  font-size: 18px;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
};

.p{
  
}