<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<!-- Include Head -->
<%- include('partials/head') %>


<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="formulario-box">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				
				<form action="/user/processLogin" method="POST">

					<% if (error) { %>
						<p class="error-mensaje">
							<%= error %>
						</p>
					<% } %>					<label>Email: </label>
					<input type="email" name="email" required> 

					<label>Contraseña: </label>
					<input type="password" name="contrasena" required>

					<div class="recordarme">
						<input type="checkbox" name="recordarme">
						<label for="recordarme">Recordarme</label>
					</div>

					<p>¿No tenés cuenta? <a href="/user/register">Registrate acá</a></p>
					<button type="submit">Ingresar</button>
				</form>
			</h2>
		</div>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
	 
</body>

</html>