<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<!-- Include Head -->
<%- include('partials/head') %>


<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="formulario-box">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<% if (error) { %>
					<div class="error">
						<p><%= error %></p>
					</div>
				<% } %>
				
				<form action="/" method="get">
					<label>Email: </label>
					<input type="email" name="email" required> 

					<label>Contraseña: </label>
					<input type="password" name="contrasenia" required>

					<div class="recordarme">
						<input type="checkbox" name="recordarme" required>
						<label for="recordarme">Recordarme</label>
					</div>

					<p>¿No tenés cuenta? <a href="/register">Registrate acá</a></p>
					
					<button type="submit">Ingresar</button>
				</form>
			</h2>
		</div>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
	 
</body>

</html>