<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresá</title>
</head>
<body>
    
    <form action="" method="get">

            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required>
            
            <label for="recordarme">Recordarme</label>
            <input type="checkbox" name="recordarme" id="recordarme">

        <button type="submit">Ingresar</button>
    </form>


</body>
</html>