<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head')%>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="formulario-box">

			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form action="/product-add" method="get">
					<label for="imagen">Agregue la imagen</label>
					<input type="text" id="imagen" name="imagen"> 

					<label for="nombre">Nombre del producto: </label>
					<input type="text" name="nombre" id="nombre" required>

					<label for="descripcion">Descripción: </label>
					<input type="text" name="descripcion" id="descripcion" required>
					
					<button type="submit">Agregar producto</button>
				</form>
			</h2>

		</div>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>