<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="formulario-box">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/login" method="get">
					<label>Email: </label>
					<input type="mail" name="email" required value="manuelgonzalo@gmail.com"> 

					<label>Usuario: </label>
					<input type="text" name="usuario" required value="manuelgonzalo">

					<label>Contraseña: </label>
					<input type="password" name="contrasennia" required value="manuuuuu">

					<button type="submit" name="registrarme">Registrarme</button>
				</form>
			</h2>
	</div>
	
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>